.left {
  float: left;
}

.right {
  float: right;
}

.navigator {
  margin-top: 45px;
  margin-right: 24px;
}

.container {
  width: 96%;
  padding: 12px;
  text-align: center;
}

.input-form {
  width: 50%;
  margin: 24px auto;
}

.logo-img {
  width: 70px;
  height: 70px;
}
