table {
  margin: 24px auto;
  border: 1px solid rgb(63, 108, 153);
}

table th {
  background-color: rgb(63, 108, 153);
  color: white;
}

table tr {
  background-color: #eaeaea;
  height: 18px;
}

table tr:nth-child(2n + 1) {
  background-color: #fafafa;
}
table td {
  padding: 2px 8px;
  border-right: 1px solid rgb(63, 108, 153);
}

table td:last-child {
  padding: 2px 8px;
  border-right: none;
}
